<html>
<head>
    <title>Predictive Analytics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" style="opacity: 90%">
            
    <a class="navbar-brand" href="#" style="padding-left: 20px;padding-right: 20px">Predictive Analytics(Bundling)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clv">CLV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rfm">RFM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recommendindex">Recommendation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictsales">Predicting Sales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analytics">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictiveanalytics">Predictive Analytics</a>
            </li>
        </ul>
    </div>
    </nav>
    
    <div class="jumbotron">
    <iframe id="example1" src="https://smdhtelang2.shinyapps.io/bookstore/" style="border: none; width: 100%; height: 850px" frameborder="0">
    </iframe>
    </div>
</body>
</html>